
<form action="/action_page.php">
    <label for="name">name:</label><br>
    <input type="text" id="name" name="name" value="liz"><br><br>
    <label for="lname">quote:</label><br>
    <input type="text" id="quote" name="quote" value="message"><br><br>
    <label for="lname">author:</label><br>
    <input type="text" id="author" name="author" value="henry ford"><br><br>
    <label for="lname">poster:</label><br>
    <input type="text" id="poster" name="poster" value="shii"><br><br>
    <input type="submit" value="Submit">
    
  </form> 
  